* {

  font-family: "Cairo", sans-serif;
}

body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  background-image: url("imges/choseHuman.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.showFaceCreate {
  width: 100vw;
  display: flex;
  background-image: url("imges/Draggable.png");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.layout {
  display: flex;
  position: absolute;
  bottom: 11em;
}

.layout>img {
  flex: 1 0 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.human {
  z-index: 1;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.human:hover {
  filter: drop-shadow(0mm 0mm 3mm rgb(252, 70, 125));

}

/*************doupdown********/
svg{
  position: relative;
  top: 10em;
}

.dropbtn {
  background-color: #c0dab0;
  color: black;
  padding: 16px;
  font-size: 19px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 1em;
  left: 1em;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #a6df83c2;
}

/**/
/* ////////////////////input////////////////////////// */

.nameinput {
  /* width: 185px; */
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-content: center;
/* justify-content: center; */
  /* align-items: center; */
  top: 8em;
  right: 5em;
  transition: 1s ease-in-out;
}

.nameinput>p {
  color: #e82a2a;
}

.input {
  /* position: absolute;
  right: 4em;
  top: 8em; */
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  direction: rtl;
  background-color: rgb(177, 177, 177);
  box-shadow: inset 2px 1px 19px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  background-color: #1c658f;
  transform: scale(1.05);
  /* box-shadow: 13px 13px 100px rgb(20, 101, 168), -13px -13px 100px #c5c4c4; */
  transition: 1.5 ease-in;
}

/*********************************************************/
#delete {
  transition: 0.2s ease-in-out;
}

#delete:hover {
  transform: scale(1.2);
  color: #dd443e;
}

#viwe {
  transition: 0.2s ease-in-out;
}

#viwe:hover {
  transform: scale(1.2);
  color: #5ead7c;
}

.clearData {
  position: absolute;
  top: 0;
  left: 0;
}

.claerBtn {
  display: block;
  position: absolute;
  top: 0.9em;
  left: 10em;
  min-width: 250px;
  padding: 16px;
  border-radius: 20px;
  border: none;
  color: #000000;
  cursor: pointer;
  background-color: #c0dab0;
  z-index: 1;
  transition: all 0.2s ease;
  font-size: 19px;
  font-weight: bold;
}

.claerBtn:hover :where(i) {
  color: #2ae843;

  animation: vibrate-1 .4s infinite ease-in-out;
}

.btns {
  display: inline;
}

.button {
  position: absolute;
  top: 2em;
  left: 4em;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #000000;
  cursor: pointer;
  background-color: #c0dab0;
  z-index: 2;
  transition: all 0.2s ease;
  font-size: 19px;
  font-weight: bold;
  animation: glow 1.9s infinite ease-in-out;
}

@keyframes glow {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #e82a2a 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #2ae843 20%, transparent 30%),
    radial-gradient(circle, #2aa2e8 20%, transparent 20%),
    radial-gradient(circle, #e82a2a 20%, transparent 20%),
    radial-gradient(circle,
      transparent 10%,
      rgb(232, 42, 207) 15%,
      transparent 20%),
    radial-gradient(circle, #76e82a 20%, transparent 20%),
    radial-gradient(circle, #2ae899 20%, transparent 20%),
    radial-gradient(circle, #e8662a 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #e82a89 20%, transparent 20%),
    radial-gradient(circle, #2ae8af 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #e82a9f 15%, transparent 20%),
    radial-gradient(circle, #e82a53 20%, transparent 20%),
    radial-gradient(circle, #82eca2 20%, transparent 20%),
    radial-gradient(circle, #e8562a 20%, transparent 20%),
    radial-gradient(circle, #e8662a 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/***********************************************/

#centered-box {
  width: 500px;
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#centered-text {
  margin-top: auto;
  /* Push text to the center vertically */
  text-align: center;
}

#centered-button {
  margin-top: auto;
  /* Push button to the bottom */
}

/*******************/

/********************************************/

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/*************/
/***************************overlay***********/

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

/* Styling for the modal content */
.modal {
  background-color: #FFF7D4;
  padding: 10px;
  border-radius: 40px;
  text-align: center;
}

.modal>p {
  font-size: 24px;
}

/* Styling for the buttons */
.buttonn {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  color: #000000;
  cursor: pointer;
  background-color: #c0dab0;
  font-size: 14px;
  font-weight: bold;
  z-index: 3;
}

/* Styling for the emojis */
.emoji {
  font-size: 40px;
}


/*****************/

/********************************************/

.bounce-top-r {
  -webkit-animation: bounce-top 1.3s both;
  animation: bounce-top 1.3s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/*************/


/*****************jeloo***********/


.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left .4s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-in-fwd-left .9s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1
  }
}

@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1
  }
}






.slide-in-fwd-right {
  -webkit-animation: slide-in-fwd-right .4s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-in-fwd-right .9s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1
  }
}

@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1
  }
}


.vibrate-1 {
  -webkit-animation: vibrate-1 .3s linear infinite both;
  animation: vibrate-1 .3s linear infinite both
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}


.jello-horizontal {
  -webkit-animation: jello-horizontal .9s infinite both;
  animation: jello-horizontal 2s both
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}


.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}


.shake-lr {
  -webkit-animation: shake-lr 1s infinite cubic-bezier(.455, .03, .515, .955) both;
  animation: shake-lr 1s infinite cubic-bezier(.455, .03, .515, .955) both
}

@-webkit-keyframes shake-lr {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }

  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg)
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg)
  }

  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg)
  }

  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg)
  }
}

@keyframes shake-lr {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }

  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg)
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg)
  }

  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg)
  }

  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg)
  }
}


/**************/